In [1]:
import numpy as np
import pandas as pd

In [2]:
from quantopian.pipeline import Pipeline

In [3]:
from quantopian.pipeline.data import morningstar as ms
from quantopian.pipeline.data import Fundamentals

In [4]:
type(ms)

In [5]:
exchange = Fundamentals.exchange_id.latest
from quantopian.pipeline.classifiers.fundamentals import Sector
# morningstar_sector = Sector()
# nyse_filter = exchange.eq('NYS')

In [36]:
def make_pipeline():
    print "START"
    industry_code = ms.asset_classification.morningstar_industry_code.latest
    ebitda = ms.income_statement.ebitda.latest
    sic = ms.asset_classification.sic.latest
    common_stock_equity = ms.balance_sheet.common_stock_equity.latest
    #     morningstar_sector = Sector()
    #     exchange = Fundamentals.exchange_id.latest
    
    
    sample_industry = 10106008
    
#     one_industry = (industry_code == sample_industry)
    
    
#     industry_code_filter = industry_code.eq(sample_industry) | industry_code.eq(10102002)
    
    print "END"
    return Pipeline(
        columns={
            #'exchange': exchange,
            #'sector_code': morningstar_sector,
            'sic': sic,
            'industry_code': industry_code,
            'ebitda': ebitda,
            'common_stock_equity': common_stock_equity
        }
    )

my_pipe = make_pipeline()

START
END

In [37]:
from quantopian.research import run_pipeline
# print run_pipeline(make_pipeline(), '2015-01-01', '2015-01-02')
result = run_pipeline(my_pipe, '2015-01-01', '2015-01-01')
result.head(10)
# -1 means miscellaneous industry for industry_code
#ebitda is a quarterly value

# workingdf = result
# workingdf.head(100)

                                                common_stock_equity  \
2015-01-02 00:00:00+00:00 Equity(2 [ARNC])             1.233800e+10
                          Equity(21 [AAME])            1.021170e+08
                          Equity(24 [AAPL])            1.115470e+11
                          Equity(25 [ARNC_PR])         1.233800e+10
                          Equity(31 [ABAX])            2.020800e+08
                          Equity(39 [DDC])             1.365080e+09
                          Equity(41 [ARCB])            5.510820e+08
                          Equity(52 [ABM])             9.688000e+08
                          Equity(53 [ABMD])            1.755380e+08
                          Equity(62 [ABT])             2.288800e+10

                                                      ebitda  industry_code  \
2015-01-02 00:00:00+00:00 Equity(2 [ARNC])      8.030000e+08       10106008
                          Equity(21 [AAME])     2.226000e+06       10324058
                          Equity(24 [AAPL])     1.355600e+10       31167138
                          Equity(25 [ARNC_PR])  8.030000e+08       10106008
                          Equity(31 [ABAX])     1.104000e+07       20640091
                          Equity(39 [DDC])      1.106640e+08       10106011
                          Equity(41 [ARCB])     5.556800e+07       31062127
                          Equity(52 [ABM])      6.020000e+07       31054109
                          Equity(53 [ABMD])     4.753000e+06       20639090
                          Equity(62 [ABT])      1.108000e+09       20636086

                                                 sic
2015-01-02 00:00:00+00:00 Equity(2 [ARNC])      3353
                          Equity(21 [AAME])     6311
                          Equity(24 [AAPL])     3571
                          Equity(25 [ARNC_PR])  3353
                          Equity(31 [ABAX])     3826
                          Equity(39 [DDC])       629
                          Equity(41 [ARCB])     4213
                          Equity(52 [ABM])      7349
                          Equity(53 [ABMD])     3841
                          Equity(62 [ABT])      2834

In [38]:
workingdf=result

In [39]:
workingdf.head()

                                                common_stock_equity  \
2015-01-02 00:00:00+00:00 Equity(2 [ARNC])             1.233800e+10
                          Equity(21 [AAME])            1.021170e+08
                          Equity(24 [AAPL])            1.115470e+11
                          Equity(25 [ARNC_PR])         1.233800e+10
                          Equity(31 [ABAX])            2.020800e+08

                                                      ebitda  industry_code  \
2015-01-02 00:00:00+00:00 Equity(2 [ARNC])      8.030000e+08       10106008
                          Equity(21 [AAME])     2.226000e+06       10324058
                          Equity(24 [AAPL])     1.355600e+10       31167138
                          Equity(25 [ARNC_PR])  8.030000e+08       10106008
                          Equity(31 [ABAX])     1.104000e+07       20640091

                                                 sic
2015-01-02 00:00:00+00:00 Equity(2 [ARNC])      3353
                          Equity(21 [AAME])     6311
                          Equity(24 [AAPL])     3571
                          Equity(25 [ARNC_PR])  3353
                          Equity(31 [ABAX])     3826

In [40]:
workingdf['ebitda_per_share'] = workingdf.ebitda / workingdf.common_stock_equity
workingdf.head()

                                                common_stock_equity  \
2015-01-02 00:00:00+00:00 Equity(2 [ARNC])             1.233800e+10
                          Equity(21 [AAME])            1.021170e+08
                          Equity(24 [AAPL])            1.115470e+11
                          Equity(25 [ARNC_PR])         1.233800e+10
                          Equity(31 [ABAX])            2.020800e+08

                                                      ebitda  industry_code  \
2015-01-02 00:00:00+00:00 Equity(2 [ARNC])      8.030000e+08       10106008
                          Equity(21 [AAME])     2.226000e+06       10324058
                          Equity(24 [AAPL])     1.355600e+10       31167138
                          Equity(25 [ARNC_PR])  8.030000e+08       10106008
                          Equity(31 [ABAX])     1.104000e+07       20640091

                                                 sic  ebitda_per_share
2015-01-02 00:00:00+00:00 Equity(2 [ARNC])      3353          0.065083
                          Equity(21 [AAME])     6311          0.021799
                          Equity(24 [AAPL])     3571          0.121527
                          Equity(25 [ARNC_PR])  3353          0.065083
                          Equity(31 [ABAX])     3826          0.054632

In [44]:
print workingdf.shape
workingdf.industry_code.value_counts().head()

(8208, 5)

-1           2474
 10320050     414
 20635084     313
 10319042     261
 30947102     179
Name: industry_code, dtype: int64

In [60]:
# get rid on all rows with NaN values
print "shape of dropping all nans: ", workingdf.dropna(axis=0).shape
df_nonans = workingdf.dropna(axis=0)
# df_nonans.industry_code.value_counts()
# get rid of industry 10320045 cause it only has 1 company in it
df_nonans = df_nonans[df_nonans.industry_code != 10320045]
df_nonans.industry_code.value_counts()
# get rid of industry -1 cause its misceallaneous industry and only has 4 companies in it
df_nonans = df_nonans[df_nonans.industry_code != -1]
df_nonans.industry_code.value_counts()
# Wahoo! clean dataframe
df_clean = df_nonans
print "final clean df shape: ", df_clean.shape
print len(df_clean.industry_code.value_counts())

shape of dropping all nans:  (5146, 5)
final clean df shape:  (5141, 5)
142

In [63]:
# get list of industry codes without repreats
def get_industry_codes_no_repeats(df):
    goal_length = len(df.industry_code.value_counts())
    industry_code_array = []
    for code in df.industry_code:
        if code not in industry_code_array:
            industry_code_array.append(code)
    if len(industry_code_array) == goal_length:
        return industry_code_array
    else:
        return "NOPE"

print get_industry_codes_no_repeats(df_clean)

[10106008, 10324058, 31167138, 20640091, 10106011, 31062127, 31054109, 20639090, 20636086, 10106010, 10319042, 31165133, 10209019, 20529071, 10103003, 10104005, 31055110, 20531076, 31165132, 31056111, 31167142, 31169147, 20531075, 30950105, 20744096, 10209020, 20744095, 20637087, 10320052, 31059116, 30947102, 10323057, 10211025, 31052107, 10321055, 31062126, 31053108, 20635084, 31167137, 10428070, 31169145, 31061119, 10210023, 10101001, 20638089, 31167141, 10212028, 10209016, 10217033, 31166135, 10102002, 31062123, 10320050, 10320051, 31167143, 31057113, 20744097, 30845100, 30946101, 10211024, 31061118, 10322056, 10217037, 10320043, 20642093, 10218039, 10216032, 20529072, 31167139, 30951106, 10325059, 10213029, 10320049, 20636085, 10217034, 31061120, 30949104, 31056112, 20531077, 10428064, 10212027, 31165134, 20533082, 31058114, 10103004, 31061121, 20530073, 10106012, 20641092, 31165131, 20744098, 31064129, 10107013, 30845099, 20533079, 10215031, 10209018, 31062125, 10427062, 31061122, 10428067, 10105007, 31167140, 20532078, 31165130, 31062124, 10209017, 10321053, 31060117, 10428066, 10212026, 10427063, 10428068, 10217035, 10428065, 10218040, 10214030, 20531074, 10218038, 31168144, 10208014, 10208015, 10326061, 10210022, 10218041, 20534083, 31169146, 31063128, 20638088, 10105006, 20533080, 20533081, 31167136, 10217036, 30948103, 10428069, 10210021, 10326060, 10106009, 10321054, 20743094, 31169148]

In [71]:
def create_dfArray_by_industry(df):
    dfArray_by_industry = []
    industry_codes = get_industry_codes_no_repeats(df)
    for code in industry_codes:
        dfArray_by_industry.append(df[df.industry_code == code])
    return dfArray_by_industry
        
print len(create_dfArray_by_industry(df_clean))

142